.create-dish {
  text-align: center;
	font-size: 20px;
  height: 80%;
	width: 40%;
  box-shadow: 2px 2px black;
  	border: 1px solid black;
  	padding: px;
  	margin: auto;
    background-color: #DEEAE8;
    font-family: Didot;
}

h3 {
  font-family: Didot;
  font-size: 40px;
  text-align: center;
  background-image: url(https://images.unsplash.com/photo-1459664018906-085c36f472af?ixlib=rb-1.2.1&auto=format&fit=crop&w=800&q=60);
}

.create-comment {
	text-align: center;
}

input[type=submit] {
  background:  #B2D1C3 ;
  border-radius: 5px;
  border: 2px solid black;
  color: black;
  font-family: Didot;
}

input[type=text] {
	border: 2px solid black;
    border-radius: 4px;
    width: 40%;
}